.containerClass{
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
   
   }
   .cardContainer{
    background: blue;
    background-color: #f8b595; 
    color: #4c9173; 
    justify-content: center;
       align-items: center;
       text-align: center;
   }
   .infoRow{
       margin: 20px;
   }
   .refreshIcon{
    cursor:pointer;
   }
   /* .text-panel{

   } */